body{
    background-size:cover;

   
    background-color:black;

}
.title{
    margin-top: 100px;
    margin-left: 400px;
    /* margin-bottom: -900px; */
    color:white;
}

.haeding{
    margin-left: 600px;
    color:white;
}
.zoo{
    margin-left: 50px;
    margin-top: 100px;
    height: 300px;
    width: 300px;
}
.but{
    margin-left: 100px;
    margin-top: 50px;
   
}
.can{
    margin-left: 100px;
    margin-top: 50px;
}
.omn{
    margin-left: 100px;
    margin-top: 50px;
}
.qu{
    margin-left: 100px;
    margin-top: 50px;
}
.tri{
    margin-left: 100px;
    margin-top: 50px;
}

.lion{
    margin-left: 200px;
    margin-top: 100px;
    height: 300px;
    width: 300px;
}
.bear{
    margin-left: 200px;
    margin-top: 100px;
    height: 300px;
    width: 300px;
}